@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-size: 10px;
}
body {
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #0e1930;
  color: white;
  font-size: 1rem;
}

#main {
  margin: auto;
  width: 75%;
  padding-top: 4em;
}

header {
  text-align: center;
}

#title {
  margin: 15px 0 0;
  letter-spacing: 1.1px;
  font-size: 2.8rem;
}

#fav-phrase {
  font-size: 1.8rem;
  margin: 15px;
  font-family: 'Bad Script', cursive;
}

#image-container {
  border: 2px solid white;
  padding: 0;
  max-width: 90%;
  margin: auto;
}

#img-div {
  margin: 0;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#img-caption {
  padding: 10px 5px;
  background-color: white;
  font-size: 1.6rem;
  color: #060d18;
  text-align: center;
}

#tribute-info {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

#tribute-info > h2 {
  margin: 50px 0 40px;
  text-align: center;
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 2.4rem;
  font-weight: 600;
}

ul {
  width: 80%;
  max-width: 608px;
  padding: 0px;
  margin: auto;
}

li {
  line-height: 2em;
  margin: 15px 0;
  font-size: 1.8rem;
  font-weight: lighter;
}

#tribute-info > h3 {
  margin: 40px 0 50px;
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;
  font-size: 2rem;
}

a {
  color: rgb(0, 130, 255);
  font-style: italic;
  text-decoration: none;
}

@media (max-width: 600px) {
  html {
    font-size: 9px;
  }

  #main {
    margin: 0;
    width: 100%;
  }

  ul {
    padding-left: 10px;
  }
}
