@import url("https://fonts.googleapis.com/css?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  width: 100%;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  background-color: #091120;
  color: white;
}
#main {
  margin: auto;
  width: 75%;
  padding-top: 50px;
}
header {
  text-align: center;
}
#title {
  margin: 15px 0 0;
  letter-spacing: 1px;
}
#fav-phrase {
  font-size: 18px;
  margin: 15px;
  font-family: "Bad Script", cursive;
}
#image-container {
  border: 2px solid white;
  padding: 0;
  max-width: 90%;
  margin: auto;
}
#img-div {
  margin: 0;
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
}
#img-caption {
  padding: 10px 5px;
  background-color: white;
  font-size: 16px;
  color: #060d18;
}
#tribute-info {
  width: 100%;
}
#tribute-info > h2 {
  margin: 50px 0 40px;
  text-align: center;
  font-weight: normal;
  color: white;
}
ul {
  width: 80%;
  max-width: 608px;
  padding: 0px;
  margin: auto;
}
li {
  line-height: 35px;
  margin: 10px 0;
  font-size: 18px;
}
#tribute-info > h3 {
  margin: 40px 0 50px;
  text-align: center;
}
a {
  color: rgb(0, 68, 255);
  font-style: italic;
  text-decoration: none;
}

@media (max-width: 600px) {
  #title {
    font-size: 32px;
  }
  #main {
    margin: 0;
    width: 100%;
  }
  ul {
    padding-left: 10px;
  }
}
